*, *::after, *::before {box-sizing: border-box;}

html, body { height:100%; }

body {
    --station-count: 30;
    --angle: calc(360deg / var(--station-count));
    --yamanote-green: #9acd32;
    --station-size: 5vmin;
    --circle-width: 1vmin;
    --station-sign-square: 6vmin;

    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding:0;
    margin: 0;
    align-items: center;

    font-family: 'MS Gothic', sans-serif;
}

h1, h2 { font-weight: normal; text-align: center; }
h1 { margin:0 0; font-size: 8vmin; }
h2 { font-size: 4vmin; }

.circle {display: block; position: relative; 
    margin: 4vmin 0;
    width: 90vmin; height: 90vmin;
    max-width: 50vmax; max-height: 50vmax;
}

.circle::before {
    --circle-padding: calc((var(--station-size) - var(--circle-width)) / 2 ) ;
    position: absolute;
    content: ''; top:var(--circle-padding); left: var(--circle-padding); bottom:var(--circle-padding); right: var(--circle-padding);
    border: solid var(--circle-width) var(--yamanote-green);
    border-radius: 50%; 
}

.circle .station, .circle .dial {
    position: absolute;
    top: 0; bottom:50%; left:calc(50%); right: calc(50%);
    transform-origin: bottom;
}

.circle .dial { z-index: 4; top:10%; top: calc(var(--station-size) * 0.8); }

input[type="radio"] {opacity:50%; display: none;}
.circle label { cursor: pointer; display: inline-block; overflow: hidden; 
    width: var(--station-size); height:var(--station-size);
    margin-left:-3vmin;margin-right: -3vmin;
    vertical-align: middle; text-align: center;
    border: solid 0.5vmin var(--yamanote-green);
    background-color: white;
    border-radius: 10%;
    font-family: sans-serif;
    font-size: 2.2vmin;
    font-weight: bold;
}

.circle label::before {
    content: 'JY';
    display: block;
    font-size: 1.5vmin;
    font-weight: normal;
    margin-top:0.2vmin;
    margin-bottom: -0.5vmin;
}

.circle .dial label {
    border:none;
    background-image: url('yamanote.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.circle .dial label::before {
    content: '';
}

.s00 { transform: rotate(calc(00 * var(--angle))); }
.s01 { transform: rotate(calc(01 * var(--angle))); }
.s02 { transform: rotate(calc(02 * var(--angle))); }
.s03 { transform: rotate(calc(03 * var(--angle))); }
.s04 { transform: rotate(calc(04 * var(--angle))); }
.s05 { transform: rotate(calc(05 * var(--angle))); }
.s06 { transform: rotate(calc(06 * var(--angle))); }
.s07 { transform: rotate(calc(07 * var(--angle))); }
.s08 { transform: rotate(calc(08 * var(--angle))); }
.s09 { transform: rotate(calc(09 * var(--angle))); }
.s10 { transform: rotate(calc(10 * var(--angle))); }
.s11 { transform: rotate(calc(11 * var(--angle))); }
.s12 { transform: rotate(calc(12 * var(--angle))); }
.s13 { transform: rotate(calc(13 * var(--angle))); }
.s14 { transform: rotate(calc(14 * var(--angle))); }
.s15 { transform: rotate(calc(15 * var(--angle))); }
.s16 { transform: rotate(calc(16 * var(--angle))); }
.s17 { transform: rotate(calc(17 * var(--angle))); }
.s18 { transform: rotate(calc(18 * var(--angle))); }
.s19 { transform: rotate(calc(19 * var(--angle))); }
.s20 { transform: rotate(calc(20 * var(--angle))); }
.s21 { transform: rotate(calc(21 * var(--angle))); }
.s22 { transform: rotate(calc(22 * var(--angle))); }
.s23 { transform: rotate(calc(23 * var(--angle))); }
.s24 { transform: rotate(calc(24 * var(--angle))); }
.s25 { transform: rotate(calc(25 * var(--angle))); }
.s26 { transform: rotate(calc(26 * var(--angle))); }
.s27 { transform: rotate(calc(27 * var(--angle))); }
.s28 { transform: rotate(calc(28 * var(--angle))); }
.s29 { transform: rotate(calc(29 * var(--angle))); }

input#radio01:checked ~ .circle .dial { transform: rotate(calc(00 * var(--angle))); }
input#radio01:checked ~ .circle .dial { transform: rotate(calc(01 * var(--angle))); }
input#radio02:checked ~ .circle .dial { transform: rotate(calc(02 * var(--angle))); }
input#radio03:checked ~ .circle .dial { transform: rotate(calc(03 * var(--angle))); }
input#radio04:checked ~ .circle .dial { transform: rotate(calc(04 * var(--angle))); }
input#radio05:checked ~ .circle .dial { transform: rotate(calc(05 * var(--angle))); }
input#radio06:checked ~ .circle .dial { transform: rotate(calc(06 * var(--angle))); }
input#radio07:checked ~ .circle .dial { transform: rotate(calc(07 * var(--angle))); }
input#radio08:checked ~ .circle .dial { transform: rotate(calc(08 * var(--angle))); }
input#radio09:checked ~ .circle .dial { transform: rotate(calc(09 * var(--angle))); }
input#radio10:checked ~ .circle .dial { transform: rotate(calc(10 * var(--angle))); }
input#radio11:checked ~ .circle .dial { transform: rotate(calc(11 * var(--angle))); }
input#radio12:checked ~ .circle .dial { transform: rotate(calc(12 * var(--angle))); }
input#radio13:checked ~ .circle .dial { transform: rotate(calc(13 * var(--angle))); }
input#radio14:checked ~ .circle .dial { transform: rotate(calc(14 * var(--angle))); }
input#radio15:checked ~ .circle .dial { transform: rotate(calc(15 * var(--angle))); }
input#radio16:checked ~ .circle .dial { transform: rotate(calc(16 * var(--angle))); }
input#radio17:checked ~ .circle .dial { transform: rotate(calc(17 * var(--angle))); }
input#radio18:checked ~ .circle .dial { transform: rotate(calc(18 * var(--angle))); }
input#radio19:checked ~ .circle .dial { transform: rotate(calc(19 * var(--angle))); }
input#radio20:checked ~ .circle .dial { transform: rotate(calc(20 * var(--angle))); }
input#radio21:checked ~ .circle .dial { transform: rotate(calc(21 * var(--angle))); }
input#radio22:checked ~ .circle .dial { transform: rotate(calc(22 * var(--angle))); }
input#radio23:checked ~ .circle .dial { transform: rotate(calc(23 * var(--angle))); }
input#radio24:checked ~ .circle .dial { transform: rotate(calc(24 * var(--angle))); }
input#radio25:checked ~ .circle .dial { transform: rotate(calc(25 * var(--angle))); }
input#radio26:checked ~ .circle .dial { transform: rotate(calc(26 * var(--angle))); }
input#radio27:checked ~ .circle .dial { transform: rotate(calc(27 * var(--angle))); }
input#radio28:checked ~ .circle .dial { transform: rotate(calc(28 * var(--angle))); }
input#radio29:checked ~ .circle .dial { transform: rotate(calc(29 * var(--angle))); }

.dial { 
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform;
 }

.details {display:none;}

input#radio00:checked ~ .detailsWrapper .detail00 { display:block; }
input#radio01:checked ~ .detailsWrapper .detail01 { display:block; }
input#radio02:checked ~ .detailsWrapper .detail02 { display:block; }
input#radio03:checked ~ .detailsWrapper .detail03 { display:block; }
input#radio04:checked ~ .detailsWrapper .detail04 { display:block; }
input#radio05:checked ~ .detailsWrapper .detail05 { display:block; }
input#radio06:checked ~ .detailsWrapper .detail06 { display:block; }
input#radio07:checked ~ .detailsWrapper .detail07 { display:block; }
input#radio08:checked ~ .detailsWrapper .detail08 { display:block; }
input#radio09:checked ~ .detailsWrapper .detail09 { display:block; }
input#radio10:checked ~ .detailsWrapper .detail10 { display:block; }
input#radio11:checked ~ .detailsWrapper .detail11 { display:block; }
input#radio12:checked ~ .detailsWrapper .detail12 { display:block; }
input#radio13:checked ~ .detailsWrapper .detail13 { display:block; }
input#radio14:checked ~ .detailsWrapper .detail14 { display:block; }
input#radio15:checked ~ .detailsWrapper .detail15 { display:block; }
input#radio16:checked ~ .detailsWrapper .detail16 { display:block; }
input#radio17:checked ~ .detailsWrapper .detail17 { display:block; }
input#radio18:checked ~ .detailsWrapper .detail18 { display:block; }
input#radio19:checked ~ .detailsWrapper .detail19 { display:block; }
input#radio20:checked ~ .detailsWrapper .detail20 { display:block; }
input#radio21:checked ~ .detailsWrapper .detail21 { display:block; }
input#radio22:checked ~ .detailsWrapper .detail22 { display:block; }
input#radio23:checked ~ .detailsWrapper .detail23 { display:block; }
input#radio24:checked ~ .detailsWrapper .detail24 { display:block; }
input#radio25:checked ~ .detailsWrapper .detail25 { display:block; }
input#radio26:checked ~ .detailsWrapper .detail26 { display:block; }
input#radio27:checked ~ .detailsWrapper .detail27 { display:block; }
input#radio28:checked ~ .detailsWrapper .detail28 { display:block; }
input#radio29:checked ~ .detailsWrapper .detail29 { display:block; }

.detailsWrapper {
    align-self: stretch; background-color: #f3f3f3; flex-grow: 1;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.15);
    overflow: hidden;
    animation: ShowStation 500ms ease-in;

    transition-property: max-height, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.details {
    margin: auto;
    animation: ShowStation 500ms ease-in;

}

@keyframes ShowStation {
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}


.line {
    height:var(--station-sign-square);
    background-color:green;
    align-self: stretch;
    text-align: center;
}

.line .square {
    display: inline-block; vertical-align: top;
    width:var(--station-sign-square); height:var(--station-sign-square);
    background-color: var(--yamanote-green);
}

.tune {
    margin: 0 auto 5px;
    height:22px;
    width: 90%;
}

audio.obnoxious { border-left: solid 10px crimson; }
audio.common { border-left: solid 10px silver; }

audio.c.cc {height:22px; margin-bottom: 32px;}

.kanjiCorner {
    margin:8px 3vmin;
    align-self: flex-end;
}

.kanji {
    display:inline-block; margin-left:5px;
    border: solid 1px black;
    color:black;
    background-color: white;
    padding: 2px;
    border-radius: 2px;
    font-size:3vmin;
    line-height: 4vmin;
    height: 5vmin; width: 5vmin;
    overflow: hidden;
    text-align: center;
}

.kanji.black {
    color:white;
    background-color: black;
}

@media screen and (orientation: landscape) {
    body {
        flex-direction: row;
    }

    .circle {
        margin: 0 4vmin;
    }
}


#extraTunes {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.15);
    top:0;left:0;right:0;bottom:0;
    overflow-y: scroll;
    z-index: 30;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

#showExtraTunes:checked ~ #extraTunes { display:block; }

.closeModalBackground {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
}

.extraTunesModal { 
    border: solid 1px #ccc; background: white; 
    box-shadow: 0 4px 7px rgba(0,0,0,0.15);
    padding: 1rem;
    margin: 2rem;
    z-index: 40;
    position: relative; /* z-index doesn't work on default position:static */
}

.extraTunesModal button.close {
    border: 0;
    color: darkred;
    background-color: #eee;
    border-radius: 2px;
}

.extraTunesModal button.close.bottom {
    padding: 10px;
    display: block;
    width: 100%;
}

.extraTunesModal button.close.corner {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    float: right;
}

.extraTunesModal h2 {
    line-height: 2rem;
    padding: 0;
    /* padding-left: 0.5rem; */
    margin: 0;
    text-align: left;
}